article#about {
  section.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 4rem;
    img {
      width: 15rem;
      border-radius: 50%;
      filter: contrast(1.05);
      transform: rotate(2deg);
      user-select: none;
    }
    section.content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      p {
        width: 100%;
        font-size: 1.4rem;
        text-align: center;
        span {
          font-size: 1.2rem;
        }
        @media (max-width: 600px) {
          width: 100%;
        }
      }
      a {
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 1rem 2.5rem;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        background: #fff;
        color: #111;
        border: none;
        border-radius: 30px;
        &:hover {
          animation: pulse 800ms;
          box-shadow: 0 0 0 1em transparent;
        }
        svg {
          display: inline;
          font-size: 1.1rem;
        }
        @media (max-width: 600px) {
          padding: 0.5rem 1rem;
          font-size: 0.7rem;
        }
      }
    }
    @media (max-width: 1000px) {
      flex-direction: column;
    }
    @media (max-width: 600px) {
      padding: 0rem;
    }
  }
  section.skills {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    h2 {
      border: 1px solid #fff;
      border-radius: 2rem;
      padding: 0 1rem;
      font-size: 1.5rem;
      transition: all 0.3s;
      &.major {
        text-shadow: 0 0 10px #ffffff70;
      }
    }
  }
}

article#about.light {
  color: #111;
  section.profile {
    img {
      box-shadow: 0 0 20px #00000040;
    }
    section.content {
      a {
        background: #111;
        color: #fff;
        border: none;
        @keyframes pulse {
          0% {
            box-shadow: 0 0 0 0 #88888880;
          }
        }
      }
    }
  }
  section.skills {
    h2 {
      border: 1px solid #000;
      &.major {
        text-shadow: 0 0 8px #00000070;
      }
    }
  }
}
