article#about {
  display: flex;
  flex-direction: row;
  align-items: center;
  @media (max-width: 600px) {
    gap: 1rem;
    flex-direction: column;
    text-align: center;
  }
  section.profile {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 3rem;
    margin-left: 6vw;
    border-right: 1px solid #fff;
    @media (max-width: 600px) {
      margin: 0;
      border: none;
    }
    & > img {
      width: 60%;
      border-radius: 50%;
      filter: contrast(1.05);
      transform: rotate(2deg);
      user-select: none;
    }
    a {
      margin: 0 auto;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 1rem 2.5rem;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
      background: #fff;
      color: #111;
      border: none;
      border-radius: 30px;
      &:hover {
        background: #eee;
        animation: pulse 800ms;
        box-shadow: 0 0 0 1em transparent;
      }
      svg {
        display: inline;
        font-size: 1.1rem;
      }
      @media (max-width: 600px) {
        padding: 0.5rem 2rem;
      }
    }
    section.skills {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
      img {
        width: 3rem;
        height: 3rem;
        filter: grayscale(1);
        transition: transform 200ms;
        &.major {
          filter: grayscale(1);
        }
        &:hover {
          transform: scale(0.9);
        }
        @media (max-width: 600px) {
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }
  }
  section.content {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    @media (max-width: 600px) {
      border: none;
    }
    p {
      font-size: clamp(2rem, 4vw, 4rem);
      font-family: "DM Sans", sans-serif;
      font-weight: 700;
      letter-spacing: -1px;
      line-height: clamp(2rem, 4vw, 5rem);
      text-transform: uppercase;
      transition: color 300ms;
      del {
        position: relative;
        color: #777;
        text-decoration: none;
        &::after {
          content: "";
          position: absolute;
          left: -2.5%;
          bottom: 50%;
          background: #bbb;
          width: 105%;
          height: 6px;
          transform: rotate(-1deg);
        }
      }

      ins {
        text-decoration: none;
      }
    }
    @media (max-width: 1000px) {
      flex-direction: column;
    }
    @media (max-width: 600px) {
      padding: 0rem;
    }
  }
}

article#about.light {
  color: #111;
  section.profile {
    border-right: 1px solid #000;
    @media (max-width: 600px) {
      border: none;
    }
    & > img {
      box-shadow: 0 0 20px #00000040;
    }
    a {
      background: #111;
      color: #fff;
      border: none;
      @keyframes pulse {
        0% {
          box-shadow: 0 0 0 0 #88888880;
        }
      }
    }
    section.skills {
      & img.major {
        filter: none;
      }
    }
  }
}
