*::selection {
  background: #000;
  color: #fff;
}

a,
p,
h1,
h2,
strong,
button,
svg,
input {
  transition-property: color, background-color, border-color;
  transition-duration: 0.2s;
}

body {
  background: #222;
  font-family: "Poppins", sans-serif;
}

main.pages {
  height: 100%;
  z-index: -1;
  overflow-x: hidden;
  color: #fff;
}

article {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem;
  @media (max-width: 600px) {
    padding: 4rem;
  }
}

button,
a {
  &:active {
    transform: scale(0.95);
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #222 #fff;
}

*::-webkit-scrollbar {
  width: 1px;
}

*::-webkit-scrollbar-track {
  background: #222;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #fff;
}
