article#home {
  position: relative;
  color: #fff;
  text-align: center;
  h1 {
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 4rem;
    text-shadow: 0 0 7px #555, 0 0 10px #555, 0 0 21px #555;
    @media (max-width: 800px) {
      font-size: 3rem;
      line-height: 2rem;
      margin-bottom: 1rem;
    }
  }
  h2 {
    font-family: "Gruppo";
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 1px;
    color: #bbb;
    text-shadow: 0 0 7px #444, 0 0 10px #444, 0 0 21px #444;
    @media (max-width: 800px) {
      font-size: 1.5rem;
      line-height: 1rem;
    }
  }
  button {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    font-size: 0.9rem;
    background: #fff;
    color: #111;
    border: none;
    border-radius: 20rem;
    user-select: none;
    svg {
      display: inline;
      font-size: 1rem;
    }
    @media (max-width: 600px) {
      padding: 0.5rem 1rem;
      font-size: 0.7rem;
    }
  }
  img {
    position: absolute;
    width: 12rem;
    border-radius: 50%;
    border: 5px solid #fff;
    user-select: none;
    @media (max-width: 1400px) {
      width: 9rem;
    }
    @media (max-width: 400px) {
      width: 5rem;
    }
  }
  img#js {
    top: 14vh;
    right: 8vw;
    @media (max-width: 500px) {
      top: 14vh;
      right: -3vh;
    }
  }
  img#react {
    top: 21vh;
    left: 6vw;
    @media (max-width: 500px) {
      top: 20vh;
      left: -4vh;
    }
  }
  img#sass {
    bottom: 21vh;
    right: 12vw;
    @media (max-width: 500px) {
      bottom: 20vh;
      right: 0;
    }
  }
  &.light {
    color: #000;
    img {
      border: none;
      box-shadow: 0 0 15px #bbb;
    }
    h1 {
      text-shadow: 0 0 7px #bbb, 0 0 10px #bbb, 0 0 21px #bbb;
    }
    h2 {
      color: #111;
      text-shadow: 0 0 7px #ccc, 0 0 10px #ccc, 0 0 21px #ccc;
    }
    button {
      background: #111;
      color: #fff;
      border: none;
    }
  }
}
div.tippy-box {
  background: #fff;
  color: #000;
  div.tippy-arrow {
    color: #fff;
  }
  &.light {
    background: #000;
    color: #fff;
    div.tippy-arrow {
      color: #000;
    }
  }
}
div.tippy-arrow {
  color: #000;
  &.light {
    color: #fff;
  }
}
div.tippy-content {
  font-size: 1rem;
}
