article#home {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  color: #fff;
  h1 {
    font-size: 4rem;
    font-size: clamp(3rem, 5vw, 4rem);
    font-weight: 800;
    letter-spacing: -3px;
    line-height: 2.3rem;
    text-shadow: 0 1px 0 #999, 0 2px 0 #888, 0 3px 0 #777, 0 4px 0 #666,
      0 5px 0 #555, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
      0 20px 20px rgba(0, 0, 0, 0.15);
  }
  h2 {
    font-family: "Gruppo";
    font-size: clamp(1.5rem, 2.3vw, 2rem);
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 1px;
    color: #aaa;
  }
  ul.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    li {
      a {
        text-decoration: none;
        color: #fff;
        padding: 0.5rem;
        box-shadow: inset 0 -2px 0 0 #fff;
        display: inline-block;
        transition: all 300ms ease-in-out;
        border-radius: 0px;
        &:hover {
          border-radius: 3px;
          box-shadow: inset 0 -45px 0 0 #fff;
          color: #000;
        }
        svg {
          font-size: 1.6rem;
        }
      }
    }
  }
  div {
    position: absolute;
    bottom: 1rem;
    & path {
      stroke: #ccc;
      transition: stroke 300ms;
      &:hover {
        stroke: #fff;
      }
    }
    g:last-of-type > path {
      fill: #ccc;
      transition: stroke 300ms;
      &:hover {
        fill: #fff;
      }
    }
  }
  img {
    position: absolute;
    width: 12rem;
    border-radius: 50%;
    border: 5px solid #fff;
    user-select: none;
    @media (max-width: 1400px) {
      width: 9rem;
    }
    @media (max-width: 400px) {
      width: 5rem;
    }
  }
  img#js {
    top: 14vh;
    right: 8vw;
    @media (max-width: 500px) {
      top: 14vh;
      right: -3vh;
    }
    box-shadow: #ffd51e80 0px 5px 36px 0px;
  }
  img#react {
    top: 21vh;
    left: 6vw;
    @media (max-width: 500px) {
      top: 20vh;
      left: -4vh;
    }
    box-shadow: #00dcfc40 0px 5px 36px 0px;
  }
  img#sass {
    bottom: 21vh;
    right: 12vw;
    @media (max-width: 500px) {
      bottom: 20vh;
      right: 0;
    }
    box-shadow: #e9669d40 0px 5px 36px 0px;
  }
  @media (max-width: 600px) {
    padding: 4rem 1rem;
  }
  &.light {
    color: #000;
    h1 {
      text-shadow: 0 1px 0 #555, 0 2px 0 #666, 0 3px 0 #777, 0 4px 0 #888,
        0 5px 0 #999, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
        0 20px 20px rgba(0, 0, 0, 0.15);
    }
    h2 {
      color: #000;
    }
    div {
      & path {
        stroke: #333;
        transition: stroke 300ms;
        &:hover {
          stroke: #000;
        }
      }
      g:last-of-type > path {
        fill: #333;
        transition: stroke 300ms;
        &:hover {
          fill: #000;
        }
      }
    }
    img {
      border: none;
      box-shadow: 0 0 15px #bbb;
      &#js {
        box-shadow: #ffd51e70 0px 5px 36px 0px;
      }
      &#react {
        box-shadow: #00dcfc60 0px 5px 36px 0px;
      }
      &#sass {
        box-shadow: #e9669dcc 0px 5px 36px 0px;
      }
    }
    ul.socials {
      li {
        a {
          color: #000;
          box-shadow: inset 0 -2px 0 0 #000;
          &:hover {
            border: none;
            box-shadow: inset 0 -45px 0 0 #000;
            color: #fff;
          }
        }
      }
    }
  }
}
