main#home {
  position: relative;
  color: #fff;
  text-align: center;
  h1 {
    font-size: 4rem;
    font-weight: 800;
    line-height: 4rem;
    text-shadow: 0 0 7px #555, 0 0 10px #555, 0 0 21px #555;
    @media (max-width: 800px) {
      font-size: 3rem;
      line-height: 2rem;
      margin-bottom: 1rem;
    }
  }
  h2 {
    font-family: "Gruppo";
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 1px;
    color: #bbb;
    text-shadow: 0 0 7px #444, 0 0 10px #444, 0 0 21px #444;
    @media (max-width: 800px) {
      font-size: 1.5rem;
      line-height: 0.7rem;
    }
  }
  img {
    position: absolute;
    width: 12rem;
    border-radius: 50%;
    border: 5px solid #fff;
    @media (max-width: 1400px) {
      width: 9rem;
    }
    @media (max-width: 400px) {
      width: 5rem;
    }
  }
  img#js {
    top: 18vh;
    right: 16vw;
    @media (max-width: 500px) {
      top: 14vh;
      right: 0;
    }
  }
  img#react {
    top: 28vh;
    left: 12vw;
    @media (max-width: 500px) {
      top: 20vh;
      left: 0;
    }
  }
  img#sass {
    bottom: 16vh;
    right: 26vw;
    @media (max-width: 500px) {
      bottom: 15vh;
      right: 8vw;
    }
  }
  &.light {
    background: #fff;
    color: #000;
    img {
      border: none;
      box-shadow: 0 0 15px #bbb;
    }
    h1 {
      text-shadow: 0 0 7px #bbb, 0 0 10px #bbb, 0 0 21px #bbb;
    }
    h2 {
      color: #111;
      text-shadow: 0 0 7px #ccc, 0 0 10px #ccc, 0 0 21px #ccc;
    }
  }
}
