article#projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  section.post {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    div.swiper {
      width: 90%;
      max-width: 40rem;
      aspect-ratio: 16/9;
      border-radius: 1rem;
      .swiper-slide-active {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          z-index: 100;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 120px -30px inset,
            rgba(0, 0, 0, 0.35) 0px 0px 100px -10px inset;
        }
      }
      img {
        height: auto;
      }
    }
    button {
      position: absolute;
      font-size: 4rem;
      padding: 1rem;
      background: none;
      border: none;
      color: #fff;
      cursor: pointer;
      &.prev-btn {
        left: 10vw;
        transition: filter 300ms ease-in-out;
        &:hover svg {
          animation: leftshadow 1s infinite;
        }
        @keyframes leftshadow {
          0% {
            filter: drop-shadow(0 0 0 #888888aa);
          }
          40% {
            filter: drop-shadow(0 0 0 #888888aa);
          }
          100% {
            filter: drop-shadow(-30px 0 0 transparent);
          }
        }
      }
      &.next-btn {
        right: 10vw;
        &:hover svg {
          animation: rightshadow 1s infinite;
        }
        @keyframes rightshadow {
          0% {
            filter: drop-shadow(0 0 0 #888888aa);
          }
          40% {
            filter: drop-shadow(0 0 0 #888888aa);
          }
          100% {
            filter: drop-shadow(30px 0 0 transparent);
          }
        }
      }
      @media (max-width: 1300px) {
        padding: 0.5rem;
        &.prev-btn {
          left: 0;
        }
        &.next-btn {
          right: 0;
        }
      }
      @media (max-width: 1000px) {
        font-size: 3rem;
        padding: 0.5rem;
        &.prev-btn {
          left: -1.5rem;
        }
        &.next-btn {
          right: -1.5rem;
        }
      }
      @media (max-width: 900px) {
        font-size: 2rem;
        padding: 0.5rem;
        &.prev-btn {
          left: -2rem;
        }
        &.next-btn {
          right: -2rem;
        }
      }
    }
    img.laptop-overlay {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 54rem;
      height: 103%;
      pointer-events: none;
      z-index: 1;
      @media (max-width: 1050px) {
        width: 120%;
      }
    }
  }
  section.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    section.labels {
      margin-bottom: 0.5rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 0.25rem;
      i {
        font-style: normal;
        padding: 0 0.5rem;
        text-align: center;
        border: 1px solid #fff;
        border-radius: 4px;
      }
    }
    section.links {
      margin-top: 1rem;
      display: flex;
      gap: 0.5rem;
      a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background: #fff;
        color: #111;
        font-size: 1rem;
        cursor: pointer;
        padding: 0.5rem 2rem;
        border: none;
        text-decoration: none;
        transition-property: box-shadow, color;
        transition-duration: 500ms;
        box-shadow: inset 0 0 0 0 #000;
        &:hover {
          box-shadow: inset 0 -5rem 0 0 #000;
          color: #fff;
        }
        & > svg {
          font-size: 1rem;
          transition-duration: 0ms;
        }
        @media (max-width: 500px) {
          font-size: 0.8rem;
          padding: 0.3rem 0.7rem;
        }
      }
      @media (max-width: 300px) {
        flex-direction: column;
      }
    }
  }
  @media (max-width: 900px) {
    justify-content: unset;
    gap: 0;
    position: relative;
    section.post {
      width: 75%;
      position: absolute;
      top: 10%;
    }
    section.info {
      position: absolute;
      top: 55%;
    }
  }
  @media (max-width: 700px) {
    section.post {
      top: 20%;
    }
  }
  @media (max-width: 500px) {
    section.post {
      top: 25%;
    }
    section.info {
      top: 50%;
    }
  }
  @media (max-width: 300px) {
    section.post {
      top: 28.5%;
    }
    section.info {
      top: 48.5%;
    }
  }
}

article#projects.light {
  color: #111;
  section.post {
    & > button {
      color: #000;
    }
  }
  section.info {
    section.labels {
      i {
        border-color: #111;
      }
    }
    section.links {
      a {
        background: #111;
        color: #fff;
        border: 1px solid #000;
        box-shadow: inset 0 0 0 0 #fff;
        &:hover {
          box-shadow: inset 0 -5rem 0 0 #fff;
          color: #000;
        }
      }
    }
  }
}
