aside.top {
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  padding: 0 1.5rem;
  gap: 0.2rem;
  font-size: 1.3rem;
  backdrop-filter: blur(1.5px);
  a {
    padding: 1rem 0;
    margin-right: auto;
    text-decoration: none;
    text-align: center;
    strong {
      user-select: none;
      color: #fff;
    }
  }
  button {
    box-sizing: content-box;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    user-select: none;
  }
  .theme-switcher {
    svg {
      height: 100%;
      width: 80%;
      transition: all 10s;
      &:nth-child(1) {
        color: #fff;
      }
      &:nth-child(2) {
        color: #000;
      }
    }
  }
  .lang-switcher {
    img {
      height: 100%;
      width: 90%;
    }
  }
  &.light {
    & strong {
      color: #000;
    }
    & button.theme-switcher svg {
      color: #000;
    }
  }
  @media (max-width: 1000px) {
    a {
      padding: 0.5rem 0;
    }
  }
}

.bg {
  position: absolute;
  height: 400%;
  background: #fff;
  clip-path: circle(0% at 50% 50%);
  z-index: -100;
  inset: 0;
  transition: 0.5s ease-out;
  &.light {
    clip-path: circle(80% at 50% 50%);
  }
}

aside.socials {
  z-index: 1;
  position: fixed;
  bottom: 0;
  padding-left: 1rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  svg {
    box-sizing: content-box;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: #fff;
    transition: all 300ms;
    &:hover {
      transform: scale(1.2);
    }
  }
  div.line {
    height: 12vh;
    width: 1.5px;
    background: #fff;
    transition: all 0.3s ease;
    margin-top: 0.5rem;
  }
  &:hover {
    div.line {
      height: 14vh;
    }
  }
  &.light {
    svg {
      color: #000;
    }
    div.line {
      background: #000;
    }
  }
  @media (max-width: 1000px) {
    padding-left: 0.5rem;
  }
}

aside.navigation {
  z-index: 1;
  position: fixed;
  bottom: 40%;
  right: 0;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  svg {
    position: relative;
    box-sizing: content-box;
    font-size: 1.6rem;
    padding: 0.5rem;
    color: #fff;
    transition: all 150ms ease-in-out;
    opacity: 0.75;
    &:hover {
      transform: scale(1.2);
    }
    path {
      pointer-events: none;
    }
  }
  & > a.active {
    svg {
      font-size: 2.5rem;
      padding: 0.5rem 0;
      opacity: 1;
    }
  }
  &.light {
    svg {
      color: #000;
    }
  }
  @media (max-width: 1000px) {
    padding-right: 0.5rem;
  }
}
