.cursor {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

@media not (any-pointer: coarse) {
  body {
    cursor: none;
    overflow-x: hidden;
  }

  .cursor {
    border-radius: 50%;
    z-index: 100;
    &.large {
      width: 40px;
      height: 40px;
      border: 1px solid #fff;
    }
    &.small {
      width: 10px;
      height: 10px;
      background: #fff;
      transform: translate(-50%, -50%);
    }
    &.light {
      &.large {
        border: 1px solid #000;
      }
      &.small {
        background: #000;
      }
    }
  }
}
